@model MVCTienda.Models.Etiqueta

<div class="col-md-10">
    <ul>
        <li>
            @*DisplayNameFor es para obtener el nombre del campo.*@
            <b>@Html.DisplayName("Nombre")</b>
            @*DisplayFor es para obtener el valor del campo.*@
            @Html.DisplayFor(o => Model.Texto)
        </li>
    </ul>

    <br/>


</div>

